.ball{
    height:100px;
    width:100px;
    border-radius: 50%;
    background-color: bisque;
    position: absolute;
    top:100px;
    left:100px;
}
.text{
    justify-content: center;
    display: flex;
    flex-direction: row;
}