body{
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, p{
  color:azure;
  font-size: 30px;
}
.intro{
  font-size: 30px;
  margin-top: 20px;
}
Button{
  height:120px;
  width:120px;
  border-color:azure;
  border-radius: 55px;
  border-width: 10px;
}
.rock{
  height: 50px;
}
.paper{
  height: 50px;
}
.Scissors{
  height: 50px;
}
