.button1{
  background-color: aqua;
}
.button1:hover{
  background-color: blanchedalmond;
}
.button2{
  background-color: gray;
}
.button2:hover{
  background-color: greenyellow;
}

.button3{  background-color: purple;
}
.button3:hover{
  background-color: orangered;
}
.nav{
  height:45px;
  border-radius: 25px;
  background-color: brown;
  margin-bottom: 20px;
} 
.incBut{
  height: 50px;
  margin-left: 10px;
  display:inline-block;
}
.decBut{
  height: 50px; 
  margin-right: 10px;
  display:inline-block;

}
.inc{
  height: 50px;
}
.dec{
  height: 50px; 

}
.counter{
  display: flex;
  flex: 1;
  justify-content: center;
}
.cnt{
 
}
.buttons{
  display:inline-block;
}